/*Style general*/
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    box-sizing: border-box;
    }

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    }

h1{
    color: #193C73;
    font-size: 3.5em;
    font-weight:800;
    letter-spacing: 3px;
    word-spacing: 2px;
}
h2{
    color: #193C73;
    font-size: 2em;
    font-weight:800;
    letter-spacing: 3px;
    word-spacing: 2px;
}

h3{
    color: #193C73;
    font-size: 1.4em;
    font-weight:800;
    letter-spacing: 3px;
    word-spacing: 2px;
}

p{
    color: #6D7C94;
    font-stretch:semi-expanded;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 2;
}

i{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #6D7C94;
    font-stretch:semi-expanded;
    letter-spacing: 0.5px;
}

/*Style Navigation bar*/
.navBar {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    display: inline-block;
    text-decoration: none;
    color: #2549C9;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.navLinks {
    list-style-type: none;
    display: flex;
}

.navItem a {
    display: inline-block;
    padding: 10px 30px;
}

.navItem:hover {
    background-color: #2549C9;
    border-radius: 5px;
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
}

.navItem:hover a {
    color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
}

/* Style Fight Virus with vaccines and nurse image*/

/* created a container for two sections*/
.containerFightVirus{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.subconFightVirus{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.subconFightVirus h1, .subconFightVirus p{
    margin-left: 10%;
    width: 60%;
}

.subconFightVirus h1{
    margin-top: 10%;
}

.subconFightVirus p{
    margin-top: 4%;
    
}

.subconNurseImage{
    width: 50%;
    display: flex;
    height: 500px;
}
.subconNurseImage img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.twoFacts{
    margin-left: 10%;
    margin-top: 10%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconYellow {
    color: #FFD10A;
    background-color: #FFF2BD;
    padding: 3px;
}

span{
    color: #193C73;
}

form{
    margin-left: 5%;
    width: 60%;
    
}

.schedulevaccine{
    border-style: none;
    color: #193C73;
    font-weight: bold;
    font-size: 1.1em;
    padding: 2%;
    
}

.scheduledetails{
    border-style: none;
    border-radius: 4px;
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
    padding: 2% 5%;
}

.scheduledetails label{
    color:#6D7C94;
    font-weight: normal;
}
.scheduledetails i{
    color: #193C73;
    
}

.iconBlueMain {
    background-color: #EBF1FE;
    padding: 3px;
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
}

.iconBlueSecondary{
    background-color: #EBF1FE;
    padding: 3px;
}

input[name="location"] {
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #193C73;
    padding: 1%;
    width: 100%;
}

input[name=appointmentDate]{
    color: #193C73;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 1%;
    width: 100%;
}

select[name=vaccineType]{
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #193C73;
    padding: 1%;
    width: 100%;
}

input[type=submit]{
    padding: 9%;
    font-weight: bold;
    font-stretch:semi-expanded;
    background-color: #2549C9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.5px;
    width: 90%;
    margin-left: 10%;
    
}

input[type=submit]:hover{
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
}

.locationsBox, .appointmentBox, .vaccineBox, .submitBox{
    align-items: center;
    justify-content: center;
    float: left;
    width:25%;
    padding: 2px;
}

/*Why should I vaccine?*/

.containerWhy{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.subconWhy{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 200px;
    
}

.subconWhy h2, .subconWhy p{
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 5%;
}

.subconempty {
    width: 50%;
    display: flex;
    height: 200px;
}
  

.triangulo{
width: 0;
height: 0;
border-top: 100px solid #BCC0C2;
border-right: 50px solid transparent;
border-left: 50px solid transparent;
}

.triangulo2{
width: 0;
height: 0;
border-right: 50px solid transparent;
border-bottom: 100px solid #BCC0C2;
border-left: 50px solid transparent;
}

.containerReasons {
    width: 100%;
    max-height: fit-content;
    padding: 1% 5%;
}

.subconReasons {
    width: 23%;
    float: left;
    justify-content: space-between;
    border-color: #FAFAFF;
    border-style: solid;
    border-radius: 5%;
    padding: 2%;
    margin: 1%;
    height: 350px;
}

.subconReasons i{
    font-size: 1.0em;
    margin-bottom: 10%;
}
.subconReasons h3{
    margin-bottom: 1.5em;
}

.subconReasons:hover, .subconReasons i:hover{
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
}

/* Preparations */
.containerPreparations{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    
}

.subconImagePreparations{
    width: 50%;
    display: flex;
    
}

.subconImagePreparations img{
    max-width: 100%;
    height: auto;
    
}

.subconPreparations{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    
}

.subconPreparations h2, .subconPreparations p{
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 5%;
}

.contPreparationsList{
    width: 80%;
    max-height: fit-content;
    padding: 1% 5%;

}

.subconPreparationsList{
    height: 20%;
    width: 100%;
    border-color: #FAFAFF;
    border-style: solid;
    border-radius: 5px;
    padding: 3%;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
    
}

.subconPreparationsList:hover, .subconPreparationsList i:hover{
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
}

/*Emergency Contact*/

.containerEmergency{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
}
.subconEmergency{
    width: 50%;
}

.subconEmergency p, .subconEmergency h2{
    margin-left: 10%;
    margin-top: 5%;
}
.subconContactInfo{
    height:fit-content;
    width: fit-content;
    margin-left: 10%;
}

.subconContactType {
    border-style: solid;
    height: 45%;
    width: 45%;
    float: left;
    padding: 3% 5%;
    margin: 2%;
    border-color: #FAFAFF;
    border-style: solid;
    border-radius: 5%;
    
}

.subconContactType i{
    font-size: 3em;
    margin-bottom: 10%;
    float: left;
}

.subconContactType h3{
    float: left;
}

.subconContactType button {
    width: 100%;
    border-style: none;
    background-color: #EBF1FE;
    color: #2549C9;
    font-weight: bold;
    font-stretch:semi-expanded;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.5px;
    padding: 5%;
    margin-top: 10%;
}

.subconContactType button:hover {
    background-color: #2549C9;
    color: #EBF1FE;
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5)
}

.subconContactType:hover, .subconContactType i:hover{
    box-shadow: 2px 3px 15px -2px rgba(20,60,115,0.5);
    
}

.subconImageContact{
    width: 50%;
}
.subconImageContact img{
    max-width: 60%;
    height: auto;
    object-fit:cover;
    
}

/* Footer */

footer{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    background-color: #EEF3FF;
}

.footerTopLeft{
    width: 50%;
    max-height: 80%;
    margin-top: 3%;
}

.footertext {
    margin-left: 10%;
    width: 30%;
}

.footerTopRight {
    width: 50%;
    max-height: 80%;
    margin-top: 3%;
}

.subconFooter {
    width: 33%;
    float: left;
    line-height: 2;
}

.subconFooter span{
    font-weight: bold;
    font-size: 1.2em;
    
}

.footerLinks{
    list-style-type: none;
}

.footerBottomLeft {
    width: 50%;
    max-height: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.footerBottomLeft p {
    margin-left: 10%;
}

.footerBottomRight {
    width: 50%;
    max-height: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.footerBottomRight a {
    margin-left: 5%;
}

.footertc{
    display: flex;
    justify-content: end;
    margin-right: 15%;
}